# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS desktop metadata files
.DS_Store

# Build files
build/
build-*/
cmake-build-*/
/components/
managed_components/
reports/

# PlatformIO
.pio/

# VSCode
.vscode/
.cache/

# Python virtual environment
.venv/
__pycache__/
*.pyc

# Generated asset source inputs
main/assets/source/

# Debug / Release files
Debug/
debug/
Release/
release/
out/
bin/
obj/

*.code-workspace

sdkconfig
sdkconfig.old
